@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

body
{
    height: 98vh;
    background: linear-gradient(135deg, hsla(324, 54%, 43%, 0.95), hsla(35, 84%, 45%, 0.93)) fixed,
              center center no-repeat;
    background-size: cover;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; 
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.App {
  min-height: 98.5vh;
  border: 5px solid black;
  background-image: url('./1-2.jpg');
  background: no-repeat;
  margin: 5px;
  padding: 5px;
}

.mainImg {
  padding: 10px 0 5px 0;
}

